h1 {
    color: white;
}

#p1-card{
    color: white;
}

#p2-card{
    color: white;
}


.card {
    height: 300px;
}

.container {
    padding: 0 20 0 20
}

#data-box {
    padding: 0;
    width: 100%;
    font-size: 9px;
    background: gray;
    height: 180px;
    color: white;
}